 .body {
    height: 100vh;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../src/assets/home-page.jpeg");
} 

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 16rem;
}

.logo {
    font-size: 4rem;
    color: white;
    padding: 0 1rem 0 1rem;
    min-width: max-content;
    cursor:default;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 375px) and (max-width: 640px) {
    .body {
        height: 100vh;
        background-size: cover;
        background-image: url("../../src/assets/home-page.jpeg");
    }
    
    .logo {
        font-size: 2rem;
        color: white;
        padding: 0 1rem 0 1rem;
        min-width: max-content;
        cursor:default;
        display: flex;
        gap: 1rem;
    }

    Button {
        font-size: 0.5rem;
    }


}

